* {
    margin: 0px;
   
}

@font-face {
    font-family: myFirstFont;
    src: url("./fonts/Montserrat/Montserrat-Italic-VariableFont_wght.ttf");
}

* {
    font-family: myFirstFont;
}
#root {
}
.front-page-header *{
    animation: appear 2s forwards;
    font-size: min(4vh, 4vw);
}
.app-container{
    display: flex;
    flex-direction: column;
}
 
.app-container > * {
    flex-grow: 1;
}
.front-page-header {
    background-color: #faedf1;
    height: 100vh;
}
.front-page-header .test{
    position: absolute;
    top: 43%;
    width: auto;
    left: 20%;
    font-size: 18px;
    right: 20%;
    height: auto;
bottom: 50%;
}
.front-page-header .Empth {
    font-size: min(8vh, 8vw);
}

.header p {
    font-weight: bold;
    font-size: x-large;
}
.content {
    flex-grow: 30;
}
.content p {
    margin-bottom: 20px;
}

.welcomemessage {
    /*text-align: center;*/
    font-size: large;
}
.intro {
    overflow-wrap: break-word;
    margin-top: 10px;
}
.text-container-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.text-container {
    border: black;
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: none;
    border-left-style: none;
    width: 50%;
    border-style: solid;
    border-radius: 52px;
    margin: 10px;
    padding: 28px;
}
.footer {
    text-align: center;
    color: black;
    background-color: #faedf1;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* Palette #B5C2B7 #8C93A8 #62466B */

/* Button code */

button {
    padding: 15px 25px;
    border: unset;
    border-radius: 15px;
    color: #212121;
    z-index: 1;
    background: #faedf1;
    position: relative;
    font-weight: 1000;
    font-size: 17px;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    transition: all 250ms;
    overflow: hidden;
   }
   
   button::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    border-radius: 15px;
    background-color: #212121;
    z-index: -1;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    transition: all 250ms
   }
   
   button:hover {
    color: #e8e8e8;
   }
   
   button:hover::before {
    width: 100%;
   }

    #img {
        content: url("/send-icon.png");
        width: max(5%, 50px);
        border-width: 2px;
        border: solid;
        border-radius: 20px;
    }
    #prompt-div {
        display: flex;
        width: 100%;
        height: max(10vh,50px);
    }
    #prompt-div * {
        margin: 5px;
    }
    #prompt {
        border-width: 2px;
        border-radius: 5px;
        border: solid;
        flex-grow: 1;
    }
    #main {
        display: flex;
        margin-left:15vw;
        margin-right:15vw;
        flex-direction: column;
    }
    .button {
        position: relative;
        right: -60%;
    }

    .user-message-container {
        display: flex;
        justify-content: flex-end;
        margin: 5px;
    }
    .denise-message-container {
        margin: 5px;
    }

    .user-message {
        color: black;
        width: 40%;
        background-color: gainsboro;
        border-radius: 20px;
        padding: 5px;
    }
    .user-message p {
        margin: 5px;    
    }
    .denise-message p {
        margin: 5px;
    }  
    .denise-message {
        color: black;
        width: 40%;
        background-color: rgb(233, 180, 228);
        border-radius: 20px;
        padding: 5px;
    }

    #past-messages {
        margin: 5px;
        height: 70vh;
        overflow-y: auto;
    }

   /* Animation test */
   @keyframes disappear {
    from {opacity: 1;}
    to {opacity: 0;}
  }
  /* Animation test */
  @keyframes appear {
    from {opacity: 0;}
    to {opacity: 1;}
  }